html {
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  opacity: 0;
    transition: opacity 2s;
}

canvas {
  display: block;
}

input {
  background: transparent;
    border: none;
    border-bottom: 1px solid #ebc034;
    color:#ebc034;
    
    font-size: 30px;
    text-transform: uppercase;
    font-family: Bayard;
    letter-spacing: 0.0425em;
    width: 180px;
    height: 50px;
   
}

input:focus {
  outline:none;
  background-color: black;
}


@font-face{
  font-family: "Bayard";
  src: url("./resources/VTCBayard-Regular.ttf") format("truetype");
}

img  {
  background-color: rgb(26, 26, 26);
  cursor: pointer;
  border-left: 5px solid rgb(26, 26, 26) ;
  border-bottom: 1px solid #ebc034;
}

img:hover  {
  background-color: black;
  border-left: 5px solid black ;
  cursor: pointer;
  

}

button {
  background: transparent;
    border: none;
    height: 50px;
    padding: 5px 9px 5px 9px; 
    color: black;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Bayard;
    letter-spacing: 0.0425em;
    
}

button:hover {
  cursor: pointer;
}
